<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="Rubik’s Cube">
    <meta name="keywords" content="Erno Rubik’s Cube">

    <link rel="stylesheet" type="text/css" href="/css/cube.css">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="icon" type="image/png" href="build/media/cuber-favicon-0064x0064.png">
    <link rel="apple-touch-icon" href="build/media/cuber-favicon-0144x0144.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Cuber</title>



    <!-- compiled cube code -->
    <!-- <script charset="utf-8" src="build/cuber.js"></script> -->

    <!-- compiled & minified cube code -->
    <!-- <script charset="utf-8" src="build/cuber.min.js"></script> -->



    <script charset="utf-8" src="scripts/vendor/tween.min.js"></script>


    <!-- cube source code -->


    <!--  Three.js  -->
    <script charset="utf-8" src="../../../public/scripts/vendor/threejs/src/Three.js"></script>
    <script charset="utf-8" src="../../../public/scripts/vendor/threejs/src/core/EventDispatcher.js"></script>
    <script charset="utf-8" src="../../../public/scripts/vendor/threejs/src/math/Math.js"></script>
    <script charset="utf-8" src="../../../public/scripts/vendor/threejs/src/math/Quaternion.js"></script>
    <script charset="utf-8" src="../../../public/scripts/vendor/threejs/src/math/Vector2.js"></script>
    <script charset="utf-8" src="../../../public/scripts/vendor/threejs/src/math/Vector3.js"></script>
    <script charset="utf-8" src="../../../public/scripts/vendor/threejs/src/math/Box3.js"></script>
    <script charset="utf-8" src="../../../public/scripts/vendor/threejs/src/math/Sphere.js"></script>
    <script charset="utf-8" src="../../../public/scripts/vendor/threejs/src/math/Euler.js"></script>
    <script charset="utf-8" src="../../../public/scripts/vendor/threejs/src/math/Matrix3.js"></script>
    <script charset="utf-8" src="../../../public/scripts/vendor/threejs/src/math/Matrix4.js"></script>
    <script charset="utf-8" src="../../../public/scripts/vendor/threejs/src/core/Object3D.js"></script>
    <script charset="utf-8" src="../../../public/scripts/vendor/threejs/src/cameras/Camera.js"></script>
    <script charset="utf-8" src="../../../public/scripts/vendor/threejs/src/cameras/PerspectiveCamera.js"></script>
    <script charset="utf-8" src="../../../public/scripts/vendor/threejs/src/math/Ray.js"></script>
    <script charset="utf-8" src="../../../public/scripts/vendor/threejs/src/math/Plane.js"></script>


    <!--  Here are the Cube guts. Enjoy.  -->
    <script charset="utf-8" src="../../../public/scripts/ERNO.js"></script>
    <script charset="utf-8" src="../../../public/scripts/vendor/CSS3DRenderer.js"></script>
    <script charset="utf-8" src="../../../public/scripts/utils/utils.js"></script>
    <script charset="utf-8" src="../../../public/scripts/utils/Number.js"></script>
    <script charset="utf-8" src="../../../public/scripts/utils/String.js"></script>
    <script charset="utf-8" src="../../../public/scripts/utils/Array.js"></script>
    <script charset="utf-8" src="../../../public/scripts/colors.js"></script>
    <script charset="utf-8" src="../../../public/scripts/directions.js"></script>
    <script charset="utf-8" src="../../../public/scripts/queues.js"></script>
    <script charset="utf-8" src="../../../public/scripts/twists.js"></script>
    <script charset="utf-8" src="../../../public/scripts/cubelets.js"></script>
    <script charset="utf-8" src="../../../public/scripts/groups.js"></script>
    <script charset="utf-8" src="../../../public/scripts/slices.js"></script>
    <script charset="utf-8" src="../../../public/scripts/folds.js"></script>
    <script charset="utf-8" src="../../../public/scripts/projector.js"></script>
    <script charset="utf-8" src="../../../public/scripts/interaction.js"></script>
    <script charset="utf-8" src="../../../public/scripts/controls.js"></script>
    <script charset="utf-8" src="../../../public/scripts/cubes.js"></script>
    <script charset="utf-8" src="../../../public/scripts/solvers.js"></script>
    <script charset="utf-8" src="../../../public/scripts/renderer.js"></script>



    <!-- implementation -->


    <script charset="utf-8" src="../../../public/scripts/jquery.js"></script>
    <script charset="utf-8" src="../../../public/scripts/extras/renderers/iecss3d.js"></script>
    <script charset="utf-8" src="../../../public/scripts/extras/renderers/ierenderer.js"></script>
    <script charset="utf-8" src="../../../public/scripts/extras/controls/locked.js"></script>
    <script charset="utf-8" src="../../../public/scripts/extras/deviceMotion.js"></script>
    <script charset="utf-8" src="../../../public/scripts/main.js"></script>



</head>

<body class="">
<div id="container"></div>
<div id="fail">
    <h1>Sorry,</h1>
    <h2>Cubers broken</h2>
</div>

</body>

</html>